$warning: #FAB12F;
$secondary: #fffcf7;


.navbar{
    border-radius: 7px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.navbar-brand:hover, .nav-link:hover{
    background-color: antiquewhite;
    border-radius: 5px;
}

.body{
    background-color: #FEF3E2;
}

.my-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    background-color: #ebe6e6;
}

#scrollToTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 15px;
}

//Index only
.card-title a{
    font-size: 75%;
    text-decoration: none;
    color: black;
}

.card-title a:hover{
    color: darkblue;
}
/*
#cardHover:hover{
    background-color: #999090;
}
*/

//Product Page only
.productSimilar{
    text-decoration: none !important;
    color: darkslategray;
    background-color: #ebe6e6;
}





@import './bootstrap.scss';

